.editors-table {
    width: 100%;
    border: 1px solid #4664A2;
    border-collapse: collapse;
    table-layout: fixed;

    .title-row {
        height: 50px;
        text-align: left;
        background-color: #4664A2;

        .title-element-big {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            color: white;
        }

        .title-element-small {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            color: white;
            background-color: "red";

            width: 10%;
        }
    }

    .content-row {
        height: 50px;
        border: 1px solid #4664A2;
        text-align: left;

        .content-element-big {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-right: 1px solid #4664A2;
        }

        .content-element-small {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            width: 10%;
        }

        .sectionOptions {

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
    
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
    
            width: 100px !important;
    
            .sectionOption {
                width: 24px !important;
                height: 24px !important;
                padding: 5px;
                margin-left: 15px;
    
                border: 1px solid #337ab7;

                cursor: pointer;
    
                .optionImage {
                    width: 24px !important;
                    height: 24px !important;
                }
            }
    
            .sectionOption:hover {
                background-color:  #337ab7;
            }
        }
    }
}

.admin-text {
    color: #4664A2;
}